#principal {
    width: 600px;
    height: 2000px;
    background-color: aquamarine;
}

#sombrero {
    width: 180px;
    height: 100px;
    border-radius: 20px;
    border-color: green;
    background-color: green;
    border-style: solid;
    margin: auto;
    position: relative;
}

#sombrero1 {
    width: 200px;
    height: 5px;
    border-radius: 20px;
    border-color: green;
    background-color: green;
    border-style: solid;
    margin: auto;
    margin-top: 100px;
    position: absolute;
}

#sombrero2 {
    width: 200px;
    height: 5px;
    border-radius: 20px;
    border-color: green;
    background-color: green;
    border-style: solid;
    margin: auto;
    margin-top: 100px;
    margin-left: -15%;
    margin-right: 100%;
    position: absolute;
}

#rostro {
    width: 350px;
    height: 350px;
    background-color: #fdddca;
    margin: auto;
    border-radius: 150px;
}

#ceja1 {
    width: 35px;
    border-color: black;
    border-style: solid;
    margin: auto;
    margin-top: 80px;
    margin-left: 12%;
    display: inline-block;
    position: absolute;
}

#ceja2 {
    width: 35px;
    border-color: black;
    border-style: solid;
    margin: auto;
    margin-top: 80px;
    margin-left: 18%;
    display: inline-block;
    position: absolute;
}

#ojo1 {
    width: 60px;
    height: 80px;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    margin: auto;
    margin-left: 30%;
    margin-top: 25%;
    display: inline-block;
}

#iris1 {
    width: 20px;
    height: 35px;
    border-radius: 100px;
    border-color: blue;
    background-color: blue;
    border-style: solid;
    margin: auto;
    margin-top: 25%;
}

#pupila1 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border-color: black;
    background-color: black;
    border-style: solid;
    margin: auto;
    margin-top: 35%;
}

#ojo2 {
    width: 60px;
    height: 80px;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    margin: auto;
    display: inline-block;
}

#iris2 {
    width: 20px;
    height: 35px;
    border-radius: 100px;
    border-color: blue;
    background-color: blue;
    border-style: solid;
    margin: auto;
    margin-top: 25%;
}

#pupila2 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border-color: black;
    background-color: black;
    border-style: solid;
    margin: auto;
    margin-top: 35%;
}

#nariz {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-color: black;
    background-color: red;
    border-style: solid;
    margin: auto;
}

#boca {
    width: 100px;
    height: 80px;
    border-radius: 100px;
    border-color: black;
    background-color: red;
    border-style: solid;
    margin: auto;
}

#boca1 {
    width: 50px;
    border-color: black;
    border-style: solid;
    margin: auto;
    margin-top: 35%;
}